@font-face {
    font-family: Computer;
    src: url(fonts/computerpixel-7.ttf);
}

body {
    background: url("img/wood.jpg");
    margin: 0px;
}

#container {
    width: 100%;
    position: relative;

}

/*.parent{
  
    float: left;
    text-align: center;

}*/

#screen {
  width: 650px;
  height: 500px;
  display: inline-block;
  z-index: 1;
  float: left;
  margin-top: 10%;
  margin-left:2%;
  background-image: url("img/screen.png");
  background-size: contain;

}



#briefCase {
    display: inline-block;
    margin-left: 50%;
    margin-top: -10%;
    height:500px;
    width:700px;
    background-image: url("img/briefcase1.png");
    position: absolute;
    animation: animateCase 3s;
    animation-fill-mode: forwards;
    float:left;
}




@-webkit-keyframes animateCase {
0%           { background:url('img/briefcase1.png') 0 0; }
25%          { background:url('img/briefcase1.png') 0 0; }
50%          { background:url('img/briefcase2.png') 0 0; }
75%          { background:url('img/briefcase3.png') 0 0; }
100%         { background:url('img/briefcase4.png') 0 0; }
}

button#ledon-button {
  outline: none;
  background : #CC0000;
  width: 9.6em;
  height: 9.6em;
  margin-left: 43.5%;
    margin-top: 27%;
  position: absolute;
  z-index: 1;
  border: none;
  border-radius: 50%;
  display: inline-block;
  animation:animateButton 7s;
  cursor: pointer;

}

h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 4s steps(40, end),
    blink-caret .75s step-end infinite;
  width: 60%;
  margin-top: 5em;
  font-family: Computer;
  font-size: 1.8em;
  
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 60% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

@-webkit-keyframes animateButton {
0%           { visibility: hidden;}
50%          { visibility: hidden;}
100%         { visibility: visible;}
}


button#ledon-button:active {
  box-shadow: -2px 2px 2px rgba(51,0,0,1);
}

p#buttonPressed {
  margin: 0;
  text-align: center;
  font-family: Helvetica;
  font-size: 3em;


}


